<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../static/js/general.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Odyssey</title>
  </head>
  <body>
    <header>
      <div>
        <span id="logo">
          <a href="/">Odyssey</a>
        </span>
        <span id="login">
          <a href="/login">登录</a>
        </span>
        <span id="login_nav">
          <span class="nav_item">
            <a href="#" id="logout">退出登录</a>
          </span>
          <span class="nav_item">
            <a href="/edit_question">提问</a>
          </span>
          <span class="nav_item">
            <a href="/show_question_followed">关注的问题</a>
          </span>
          <span class="nav_item">
            <a href="/show_user_followed">关注的人</a>
          </span>
          <span class="nav_item">
            <a href="/show_user_following_me">被关注</a>
          </span>
          <span class="nav_item">
            <a href="/collection">收藏夹</a>
          </span>
          <span class="nav_item" id="small_head">
            <a href="/homepage"></a>
          </span>
        </span>
      </div>
    </header>
    <script id="specific_js"></script>
    <main></main>
  </body>
</html>