<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../static/js/general.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Odyssey</title>
  </head>
  <body>
    <header>
      <div>
        <span id="logo">
          <a href="/"><img src="/static/img/logo.png" height="50" width="125"></a>
        </span>
        <span id="login">
          <a href="/login">登录</a>
        </span>
        <span id="login_nav">
          <span class="nav_item">
            <a href="#" id="logout" style="color: grey;">退出登录</a>
          </span>
          <span class="nav_item">
            <a href="/edit_question"><strong>提问</strong></a>
          </span>
          <span class="nav_item">
            <a href="/edit_article"><strong>写文章</strong></a>
          </span>
          <span class="nav_item">
            <a href="/question_followed"><strong>关注的问题</strong></a>
          </span>
          <span class="nav_item">
            <a href="/user_followed"><strong>关注的人</strong></a>
          </span>
          <span class="nav_item">
            <a href="/user_following_me"><strong>被关注</strong></a>
          </span>
          <span class="nav_item">
            <a href="/collection"><strong>收藏夹</strong></a>
          </span>
          <span class="nav_item" id="small_head">
            <a href="/homepage"><img id="head_to_be_stuck_up" height="50" width="50"></a>
          </span>
        </span>
      </div>
    </header>
    <script id="specific_js"></script>
    <main></main>
    <footer><a href="https://beian.miit.gov.cn/" target="_blank">京ICP备2024066105号</a></footer>
  </body>
</html>